//searc button backgroung
$super-lightes-gray: #F8F8F8;

//NavBar 
$nav-grey: #202020;

//SideBar
$side-grey: #303030;

//entirepage
$darker-grey: #191919;

//signin blue
$sign-blue: #3EA6FF;

//not selected icons on sidebar
$light-grey: #909090;