#root{
    height: 100vh;
}

// :session{
//     background-color: white;
//     height: 100vh;
// }

body {
    background-color:  #191919;
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}