div #comment-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    width: 800px;
    margin-left: -2px;
    margin-top: 15px;
}

.LogIn {
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: lightgray;
}

.comment-index-container {
    width: 800px;
    margin-left: 30px;
    height: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 25px;
}

.comment-index-header {
    display: flex;
    flex-direction: row;
    color: white;
}

#comment-bttn-div {
    display: flex;
    flex-direction: row-reverse;
}

#comment-bttn-div > #comment-submit-bttn {
    background-color: #606060;
    padding: 8px 12px 8px 12px;
    margin-left: 8px;
    border-radius: 2px;
    color: black;
}

#comment-bttn-div > #comment-cancel-bttn {
    color: #AAAAAA;
}

div > #input-action {
    outline: none;
    cursor: text;
    margin-top: 4px;
    border: none;
    margin-left: -360px;

}

#comment-input-icon input:focus {
    outline: none;
}

.commenter-icon {
    background-color: #024C3F;
    color: #E1EAE9;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    float: left;
}

.sort-icon {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 30px;
    color: #909090;
    margin-top: -4px;
    margin-left: 8px;
}

.sort-text {
    font-size: 15px;
    color: #909090;
}

.comment-item-container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.commenter {
    background-color: #024C3F;
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.comment-options-popup {
    margin-left: 60px;
    margin-top: 5px;
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    > button {
        background-color: #909090;
        padding: 0px 14px 0px 14px;
        border-radius: 2px;
    }
}

.likes-section {
    color: #909090;
}

#comment-index-container button.like-selected {
    color: #3CA8FF;
}

.likes-section button:active {
    color: #3CA8FF;
}

.commenter-time {
    display: flex;
    justify-content: left;
    width: 300px;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 60px;
}

.time-span {
    color: #909090;
    font-size: 12px;
    margin-left: 2px;
    margin-top: 2px;
}

.comment-content {
    display: flex;
    justify-content: left;
    margin-left: 60px;
    margin-top: 6px;
}

.likes-section {
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 10px;
}

.comment-like-bttn {
    width: 35px;
    display: flex;
    justify-content: space-between;
}

