div.fixed-side-bar{
    float: left;
    background-color: #303030;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    top: 42px;
    flex: 0.2;
}

.new-icons {
    color: white;
    text-decoration: none;
    background-color: #303030;
    width: 70px;
    justify-content: space-around;
    display: flex;
    margin-bottom: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side-icons{
    font-size: 20px;
}

.new-icons:hover, .side-icons:hover{
     background-color: #222222;   
}

#ptag {
    font-size: 10px;
}

#home-icon{
    margin-top: 20px;
}
