div.fixed-side-bar{
    float: left;
    background-color: #212121;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    position: fixed;
    top: 40px;
    flex: 0.2;
}

.new-icons {
    color: white;
    text-decoration: none;
    background-color:#212121;
    width: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 5px;
}

.side-icons{
    font-size: 25px;
}

.new-icons:hover, .side-icons:hover{
     background-color: #989899;
}

#ptag {
    margin-top: 8px;
    font-size: 11px;
}

#home-icon{
    margin-top: 20px;
}
