
.home{
    justify-content: space-between;
    margin-right: 10px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid #3DA7FF;
    padding: 3px;
    color: #3DA7FF;
    border-radius: 2px;
}

.home2{
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 60px;
    text-decoration: none;
    font-size: 22px;
    border: 1px solid #3DA7FF;
    padding: 3px;
    color: #3DA7FF;
    border-radius: 2px;
}

.humanIcon{
    height: 18px;
}

.logo > img{
    // margin-left: 5px;
    margin-top: 10px;
    width: 100px;
    height: 120px;
    display:flex;
    // font-size: 55px;
    left: -10px;
}

.modal-div{
    z-index: 100;
    height: 500px;
    width: 250px;
    background-color: lightskyblue;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}