.navbar {
    background-color: #202020;
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.left-navbar{
    background-color: #202020;
    display: flex;
    height: 62px;
    justify-content: space-between;
    align-items: center;
}

.center-navbar{
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 0px;
}

.center-navbar > input{
    flex: 1;
    border: none;
    height: 2px;
    border: 1px solid #323232;
    border-radius: 0px;
}

.search-icon {
    color: lightgrey;
    background-color: #323232;
    font-size: 23px;
    width: 35px;
    height: 18px;
    padding: 6px;
    margin-bottom: 5px;
}



.right-navbar{
    position: relative;
    display: flex;
    align-items: right;
    justify-content: space-between;
    padding: 10px;

}

.menu-bars{
    margin-left: 25px;
    font-size: 20px;
    background: none;
    color: white;
}

.nav-menu{
    background-color: #303030;
    width: 150px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 850ms;
    left: -100%;
}

.nav-menu.active{
    margin-top: 62px;
    left: 0;
    transition: 350ms;
    z-index: 100;
}

.nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text a:hover{
    background-color: #222222;   
}

.nav-menu-items{
    width: 100%;
}

.navbar-toggle{
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}

.homeDemo{
    right: 10;
    margin-right: 10px;
    float: right;
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
    border: 1px solid #3DA7FF;
    padding: 3px;
    color:#3DA7FF;
    border-radius: 2px;
    background-color:  #191919;
}

.other-icon{
    justify-content: space-between;
    margin-right: 5px;
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
    color:white;
    border-radius: 2px;

}

.dropdown{
    background-color: #222222;
    color: white;
    margin-right: 8px;
    width: 60px;
}


#dropdown-basic{
    border: 2px solid #024C3F;
    background-color: #024C3F;
    border-radius: 25px;
    font-size: 18px;
    padding: 3px;
}

#dropdown-items > button{
    background-color: #222222;
    display: block;
    
}

.dropdown-item{
    text-decoration: none;
    color: white;
}