.theform {
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 350px;
    // height: 445px;
    padding: 48px 40px 36px;
    // position
}

.signup-form {
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 700px;
    padding: 48px 40px 36px;
    text-align: left;
}

.signup-div {
    text-align: left;
}

.body{
    height: 100%;
    overflow-x: scroll;
}

.theform > div {
    text-align: center;

}
.therform > label {
    position: absolute;
    top: -1px;
    left: 20px;
}

.form-div{
   background-color: white; 
   height: 100%;
}


body{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

div{
    display: block;
    // margin-top: 500px;
    text-align: center;
}

form{
     display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 100px;
}

.signInImg{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.signUpImg {
    width: 70px;
    margin-top: -30px;
    margin-left: -5px;
}

.title {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-size: 25px;
    margin-top: -17px;
}

.signUpTitle {
    font-size: 25px;
}

.submitBttn, .bottom {
    margin-top: 50px;
}

.submitBttn{
    margin: 0 auto;
    margin-top: 30px;
    outline: none;
    display: flex;
    justify-content: center;
    float: right;
    width: 60px;
    height: 26px;
    border: 1px solid #dadcdf;
    border-radius: 5px;
    background-color: #2174E7 ;
    color: white;
    padding: 5px 8px;
    align-items: center;
}


.submitBttn:hover, .signUpBttn:hover {
    background-color: #1F65C9;
}

.signUpBttn {
    margin-top: 30px;
    margin-right: 32px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 60px;
    height: 26px;
    border: 1px solid #dadcdf;
    border-radius: 5px;
    background-color: #2174E7 ;
    color: white;
    padding: 5px 8px;
}

span{
    text-decoration: none;
}

input:focus {
    border: 2px solid #055fd4;
    border-radius: 4px;
    width: 340px;
}

input {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 340px;
    margin: 0 0 4px 0;
 }

 .txt {
    text-align: center;
    margin-top: 13px;
}

.signUpText {
    margin-top: 13px;
}

.email, .password, .Name, label, input {
     transition: all 0.2s;
}

label {
      display: inline-block;
     top: -15px;
     left: 8px;
     position: relative;
     float: none;
     transition: all 0.3s ease;
     background-color: #ffffff;
     padding: 2px 8px;
     cursor: auto;
     color: #7f868a;
}

input:focus + label {
    top: -62px;
    left: -120px;
    font-size: 12px;
    color: rgb(46, 129, 214);

}

input[type="text"], input[type="password"]::placeholder {  
    /* Firefox, Chrome, Opera */ 
    text-align: left; 
    font-size: 14px;
} 

.signupPhoto > img{
    float: right;
    justify-content: end;
    margin: 0;
    // margin-right: -100px;
    margin-top: -310px;
    width: 295px;
    user-select: none;
    
}

#fname {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 145px;
    margin: 0 0 4px 0;
    margin-right: 15px;
}

#fname:focus, #lname:focus{
    border: 2px solid #055fd4;
    border-radius: 4px;
}

#lname {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 145px;
    margin: 0 0 4px 0;
}

.signup-password{
    width: 20px;
}

.bottom {
    display: flex;
    justify-content: flex-start;
    > a {
        text-decoration: none;
        color: #1D72E8;
    }
}

.signInLink {
    display: flex;
    justify-content: flex-start;
    margin-top: 44px;
    > a {
        text-decoration: none;
        color: #1D72E8;
    }
    > a:hover {
        color: #164EA5;
        background-color: #F6F9FE;
        padding: 6px;
        position: sticky;
    }
}