.theform {
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 350px;
    // height: 445px;
    padding: 48px 40px 36px;
    // position
}

.signup-form {
    color: black;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 700px;
    padding: 48px 40px 36px;
    text-align: left;
}

.signup-div {
    text-align: left;
}

.body{
    height: 100%;
    overflow-x: scroll;
}

.theform > div {
    text-align: center;

}
.therform > label {
    position: absolute;
    top: -1px;
    left: 20px;
}

.form-div{
   background-color: white; 
   height: 100%;
}


body{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

div{
    display: block;
    // margin-top: 500px;
    text-align: center;
}

form{
     display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 100px;
}

img{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-size: 25px;
}


.submitBttn, .bottom {
    margin-top: 50px;
}

.submitBttn{
    margin: 0 auto;
    margin-top: 30px;
    outline: none;
    display: flex;
    justify-content: space-around;
    float: right;
    width: 52px;
    height: 35px;
    border: 1px solid #dadcdf;
    border-radius: 5px;
    background-color: #2174E7 ;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.submitBttn:hover{
    background-color: #1F65C9;
}

span{
    text-decoration: none;
}

input:focus {
    border: 2px solid #055fd4;
    border-radius: 4px;
    width: 340px;
}

input {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 340px;
    margin: 0 0 4px 0;
 }

 .txt {
    text-align: center;
}

 .email, .password, .Name, label, input {
     transition: all 0.2s;
 }

 label{
      display: inline-block;
     top: -44px;
     left: 8px;
     position: relative;
     float: none;
     transition: all 0.3s ease;
     background-color: #ffffff;
     padding: 2px 8px;
     cursor: auto;
     color: #7f868a;
}

input:focus + label {
    top: -62px;
    left: -120px;
    font-size: 12px;
    color: rgb(46, 129, 214);

}

.signup-photo > img{
    float: right;
    justify-content: end;
    margin: 0;
    margin-right: -113px;
    margin-top: -335px;
    width: 300px;
    user-select: none;
    
}

#fname {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 180px;
    margin: 0 0 4px 0;
}

#lname {
    outline: none;
    border: 1px solid #d9dcdf;
    border-radius: 4px;
    padding: 13px 15px 13px 15px;
    width: 180px;
    margin: 0 0 4px 0;
    margin-left: -60px;
}

.signup-password{
    width: 20px;
}