.side-bar-collapsed{
  position: sticky;
  left: 0;
  top: 56px;
  background-color: #303030;
  color: #ffffff;
  min-width: 72px;
  max-width: 74px;
  z-index: 1;
  overflow-x: hidden;
}

.side-bar-holder {
  margin: 5px 0 0 0;
}

