.app-page{
    display: flex;
}

.videos-div{
    flex: 0.8;
    margin: 100px;
    width: 100vw;
    margin-right: -250px;
    display: flex;
    flex-wrap: wrap;
}

.video-content{
    color: white;
}

.one-video{
    margin: 5px;
}

.cross-icon {
    color: #949494;
    font-size: 30px;
    padding: 20px 15px 15px 0px;
    cursor: pointer;
}

.crossIcon:hover{
    color: #222222;
}

// Upload form container

.modal-div {
  background: white;
  z-index: 10;
  height: 600px;
  width: 1000px;
  border-radius: 6px;
}

.form-title {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.form-header{
    padding: 20px 0px 15px 20px;
    font-size: 20px;
    font-weight: 500;
}

.upload-icon{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #EBEBEB;
    color: #949494;
}

.upload-icon-input{
    display: none;
}

.upload-file{
    margin-top: 60px;
}

.top-text {
    margin-top: 5px;
    color: #363636;
    font-weight: 100;
    font-size: 15px;
}

.bttm-text {
    color: #737373;
    margin-top:6px;
    font-size: 13px;
    margin-bottom: 40px;
}

.select-label {
    // margin-top: 95px;
    display: block;
    background-color: rgb(0, 89, 255);
    color: white;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 3px;
    // margin-bottom: 93px;
}

.select-label:hover {
    cursor: pointer;
}

.select-input {
    display: none;
}
.video-data {
    color: white;
}

.video-title {
    float: left;
    margin-left: 5px;
}

.video-title > p {
    font-size: 12px;
}

.logo-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebe9f9+0,d8d0ef+50,cec7ec+51,c1bfea+100;Purple+3D+%231 */
    background: #ebe9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=0 ); /* IE6-9 */
    float: left;
    margin-left: 8px;
}

.video-form-container {
    background-color: white;
}