.app-page{
    display: flex;
}
.videos-div{
    flex: 0.8;
    margin: 100px;
    width: 100vw;
    margin-right: -250px;
    display: flex;
    flex-wrap: wrap;
}

.video-content{
    color: white;
}

.one-video{
    margin: 5px;
}

.modal-div {
  background: white;
  z-index: 10;
  height: 500px;
  width: 500px;
  border-radius: 6px;
}

.form-header{
    justify-content: start;
}

.upload-icon{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
}

.upload-icon-input{
    display: none;
}
.upload-file{
    margin-top: 60px;
}

.select-bttn-input{
    display: none;
    background-color: transparent;
}

.select-label{
    padding: 0;
    background-color: transparent;
}

.select-bttn{
    background-color: #085ED4;
    color: white;
    padding-top: 0;
    margin-top: 65px;
    box-sizing: border-box;
    padding: 4px;
}
.video-data{
    color: white;
}

.video-title{
    float: left;
    margin-left: 5px;
}

.video-title > p{
    font-size: 12px;
}

.logo-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebe9f9+0,d8d0ef+50,cec7ec+51,c1bfea+100;Purple+3D+%231 */
    background: #ebe9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebe9f9 0%, #d8d0ef 50%, #cec7ec 51%, #c1bfea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebe9f9 0%,#d8d0ef 50%,#cec7ec 51%,#c1bfea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea',GradientType=0 ); /* IE6-9 */
    float: left;
    margin-left: 8px;
}

// .video:hover{
//     controls: autoplay;
// }