#video-show-buttons{
    display: flex;
    flex-direction: row;
    align-items: right;
    position: relative;
}

#video-show-buttons button{
    width: 70px;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #909090;
    cursor: pointer;
    font-size: 16px;
}

#video-show-buttons button.like-selected {
    color: #3DA7FF;
}

#video-show-button:active {
    border-color: #3DA7FF;
}

#like-dislike-bar-container {
    position: absolute;
    top: 26px;
    left: 525px;
    display: flex;
    height: 2px;
    width: 150px;
}

#like-bar {
    width: 50%;
    height: 100%;
    background-color: gray;
    transition: all .5s ease 0s;
}

#like-bar.like-selected {
    background-color: #3DA7FF;
    transition: all .5s ease 0s;
}

#dislike-bar {
    width: 50%;
    height: 100%;
    background-color: lightgrey;
    transition: all .5s ease 0s;
}

.video-show {
    margin-top: 20px;
    padding: 0px;
}

.video-display{
    margin-top: 90px;
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}

.video-title-show{
    color: white;
    display: flex;
    font-size: 22px;
    align-items: flex-end;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#video-show-buttons > p {
    color:#909090 ;
    margin-right: 420px;
    margin-left: 30px;
    font-size: 15px;
}

.video-desc-show{
    align-items: flex-end;
    width: 800px;
    margin-left: 30px;
}

.all-videos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 105px;
    margin-left: 1100px;
    height: 100px;
    margin-top: -530px;
}

.side-video-title{
    color: white;
    width: 100px;
}

.one-videos{
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #909090;
}

hr{
     color: #909090;
}

.show-desc{
    color: white;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
